.game-buttons {
  width: 100px;
  height: 100px;
  position: relative;
  transform: rotate(45deg);

  margin-top: 10px;

  @media only screen and (min-height: 650px) {
    margin-top: 20px;
    width: 150px;
    height: 150px;
  }
}
