.container {
  width: 100px;
  height: 100px;
  position: relative;
  animation: handAnimate 1s linear infinite;
  transform: rotate(45deg);
}

/*
#fff033
#ff8cf8
#00e1d4
*/

.box {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: rotate 1.5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;

  &-img {
    width: 80%;
    transform: rotate(-45deg);
  }

  &:nth-child(1) {
    top: 0;
    left: 0;
    background: #ff8cf8;
  }

  &:nth-child(2) {
    top: 0;
    right: 0;
    background: #00e1d4;
  }

  &:nth-child(3) {
    bottom: 0;
    left: 0;
    background: #fff033;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  90% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes handAnimate {
  0% {
    width: 100px;
    height: 100px;
  }

  10% {
    width: 100px;
    height: 100px;
  }

  50% {
    width: 150px;
    height: 150px;
  }

  90% {
    width: 100px;
    height: 100px;
  }

  100% {
    width: 100px;
    height: 100px;
  }
}
