@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 500;
  font-size: 1.6em;
}

ul {
  list-style: none;
}
